<%- include ./partials/_header.ejs %>

<h3><%=`${shortURL}`%></h3><a href= <%='/u/'+shortURL %> ><%=`${longURL}`%></a>

  <form class="form-inline" action=<%=`/urls/${shortURL}`%> method="POST">
  <label for="longURL">URL:</label>
  <input class="form-control" type="text" name="newlongURL" value="<%=`${longURL}`%>" style="width: 300px; margin: 1em">
  <button type="submit" class="btn btn-primary">Change URL</button>
  </form>
</body>
</html>