<%- include ./partials/_header.ejs %>

<h4>My URLs</h4>
<table>
  <% for (let url in urls) { %>
  <tr>
    <td><b><%= `${url}:` %></b> <%= `${urls[url]}` %></td>

  <!-- delete -->
  <td>
  <form method="POST" class="inline-form" action=<%=`/urls/${url}/delete`%>>
    <a href= <%='/urls/'+url %> >Edit</a>
    <button style="margin-left: 20px;" type="submit" class="btn btn-primary btn-sm">Delete</button>
  </form>
  </td>
  <!-- delete -->
  </tr>


<td>

</td>


<% } %>
</table>



</body>
</html>